.btn{
    height:36px;
    width:180px;
    font-size:16px;
    border-radius:7px;
    margin-left:10px;
    font-weight: 500;
}

.primary{
    composes:btn;
    background-color: green;
    color: white;
}

.secondary{
    composes:btn;
    background-color: red;
    color: white;
}


