#head{
    color:white;
    background-color:blue;
    position:absolute;
    border:2px solid blue;
    padding:4px;
    border-radius:12px;
    width:250px;
    text-align:center;
    height:40px

}

#btn{
    height:36px;
    width:180px;
    background-color:green;
    color:white;
    font-size:15px;
    border-radius:10px
}


